<div id="index-container">
    
    <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </nav>

    <div>
        <img class="index-logo" src="/images/mvui/Mvui-02.png"/>
    </div>
    <div class="index-desc">基于 Vue.js 移动端UI组件库</div>
</div>